body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(200,200,200);
}

.title {
  font-size: 72px;
  color: rgb(100, 100, 100);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projectHeading {
  font-size: 48px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.projectCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projectCard {
  padding: 1rem;
  border: 1px solid grey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projectCard a{
  font-size: 32px;
}

.projectCard p{
  font-size: 16px;
}